body{
	margin: 0;
	padding: 0;
	background-color: #f2f9ff;
	color: white;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.navbar{
	background-color: #305b82;
	color: white;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	margin: none;
	padding-right: 20%;
	padding-left: 20%;
	z-index: 50;
	box-shadow: 0px 6px 10px 0px rgba(40, 39, 39, 0.08);
	-moz-box-shadow: 0px 6px 10px 0px rgba(40, 39, 39, 0.08);
	-webkit-box-shadow: 0px 6px 10px 0px rgba(40, 39, 39, 0.08);
}

.navbar ul{
	margin: none;
	padding: none;
}

.navbar li{
	padding: none;
	margin: none;
	list-style: none;
	margin-right: 1em;
	display: inline;
	float: right;
	padding-bottom: 1em;
}

.navbar li:first-child{
	float: left;
	max-height: 40px;
	margin-left: -1.5em;
	margin-top: -.5em;
}

.navbar li:nth-child(2){
	margin-right: -1em;
}

#logo{
	max-height: 40px;
	width: 100px;
}

.navbar a{
	color: white;
	text-decoration: none;
}

.navbar a:hover{
	color: white;
	text-decoration: underline;
}

.navbar a:visited;{
	color: white;
}

.maincontent{
	padding-top: 3em;
	padding-left: 20%;
	padding-right: 20%;
}

.titlecard{
	background-color: white;
	width: 100%;
	margin-top: 2em;
	margin-left: 1em;
	margin-bottom: 2em;
}

.titlecard h1{
	color: #305b82;
	font-weight: 300;
	padding-top: 1em;
	font-size: 38px;
}
.titlecard h2{
	font-weight: 100;
	font-size: 20px;
	color: #5989b4;
	
}

.titlecard h3{
	font-weight: 100;
	font-size: 16px;
	color: #92b8db;
}

.rightcard{
	line-height: .5em;
}

.leftcard{
	margin-left: -1em;
	width: 100%;
}

h2{
	color: #305b82;
	font-weight: 100;
}

hr{
    margin-left: 1.5em;
    display:block;
    border:none;
    border-top: 1px solid rgba(48, 91, 130, 0.05);
}

.imglabel{
	background-color: #305b82;
	margin: 0;
	font-weight: 100;
	position: relative;
	padding: .7em;
	z-index: 50;
	opacity: .9;
	display: block;
	color: white;
	overflow: auto;
}

.hr{
	padding-left: .25em;
	padding-right: .25em;
	color: #cfe8ff;
}

.thumbup{
	max-height: 25px;
	display: inline;
	float: left;
	overflow: visible;
	margin-left: 60px;
	margin-top: -17px;